@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cy-Grotesk';
  src: url(CyGrotesk-KeyBold.otf);
  font-display: swap;
}

@font-face {
  font-family: 'Cy-Grotesk-Normal';
  src: url(CyGrotesk-KeyRegular.otf);
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #261539;
  font-family: "Cy-Grotesk";
}

.normal-font{
  font-family: "Cy-Grotesk-Normal";
}

.ikona:hover * {
  color: #772f6f;
}

.img-hor {
  transform: scaleX(-1);
}

.span {
  color: #772f6f;
}

.roza {
  color: #db9bd5;
}

.sporka{
  color: #F0E2FF;
}

.images-container {
  max-width: 1200px;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1rem;
}

.image {
  width: 100%;
  height: 21rem;
  cursor: pointer;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
