@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-lalezar
  }
}

body {
  background-color: #261539;
  overflow: auto;
  letter-spacing: 1.5px;
}

.ikona:hover * {
  color: #772F6F;
}

.a {
  animation: pulse 1s linear infinite;
}

.img-hor {
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}

.span{
  color: #772F6F;
}

.roza{
  color: #db9bd5;
}